body {
    background-color: #87BFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width: 400px;
    margin: auto;
    flex-direction: column;
}



.play {
    margin: 50px auto;
}

.inputs {
    display: flex;
    margin: 30px auto 50px auto;

}



button {
    background-color: #3B28CC; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 4px;

}

button:hover {
    background-color: #ADD7F6;
    cursor: pointer;

}

.result {
    margin: 30px auto;
}

.stat {
    margin: 30px auto;
}

.gamenumber {
    margin: 30px auto;
}

.compare {
    display: flex;
    margin: auto;
    padding: 50px;
    text-align: center;
    line-height: 1.8;

}
.compareuser {
    margin: 30px;

}
.comparecomp {
    margin: 30px;
}

.final {
    margin: 30px auto;
}

.status {
    margin: 30px auto;  
}